.notifications-card {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
    margin-bottom: 10px;
}

.classifieds-section {
    flex: 70%;
    padding: 20px;
    margin-right: 15px;


}

.fakeimg {
    background-color: #aaa;
    width: 50%;
    padding: 20px;
}
.classified-details-container {
    display: flex;
    align-content: center;
    justify-content: center;

}
.classifieds-section{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    align-content: center;
    justify-content: center;
}
.card-row {
    flex: 25%;
    max-width: 25%;
}
.classifieds-card {
    padding: 10px;
    background-color: white;
    border: 1px solid rgba(238,238,238 ,1);
    border-radius: 2px;
    box-shadow: 5px 5px 20px -22px gray;
    overflow: hidden;
    margin: 8px;
    vertical-align: middle;

}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .card-row {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .card-row {
        flex: 100%;
        max-width: 100%;
    }
}