.notifications-card {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

.classifieds-section {
    flex: 70%;
    background-color: #f1f1f1;
    padding: 20px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.fakeimg {
    background-color: #aaa;
    width: 50%;
    padding: 20px;
}
.classified-details-container {
    display: flex;
    align-content: center;
    justify-content: center;
}