body{
  display: flex;
  height: 100%; /* 1, 3 */
  flex-direction: column;
    
}

.main-body {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.main-content {
    flex: 1;
    margin-top: 1em;
    text-align: center;
}

.advertisement {
    margin-top: 1em;
    flex: 0 0 12em;
    text-align: center;
    background: rgb(250, 248, 248);
}

footer {
    flex: none; /* 2 */
    margin-top: 1em;
}


@media only screen and (min-width: 768px){

.main-body {
    flex-direction: row;
    flex: 1;
}
.container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
}
.main-content {
    flex: 1;
    text-align: center;
}

.advertisement {
    flex: 0 0 12em;
    background: rgb(250, 248, 248);
    text-align: center;
}
  
}

@media only screen and (min-width: 1100px) {
  
}
